<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
  </head>
  <body>
    <h2>The Dojo Message Board:</h2>
    <form class="form" action="/posts" method="post">
      Name:
      <input type="text" name="name">
      Message:
      <input type="text" name="text">
      <input type="submit" value="Post Message">
    </form>
    <% for (var x in posts) { %>
        <h3>Name: <%= posts[x].name %></h3>
        <h3>Message: <%= posts[x].text %></h3>
        <h3>Created at: <%= posts[x].createdAt %></h3>
        <% for (var y in posts[x].comments) { %>
          <% if (posts[x].comments[y].text && posts[x].comments[y].name) { %>
            <% if (posts[x].comments[y]._id != posts[x]._id) { %>
              <p>Name: <%= posts[x].comments[y].name %></p>
              <p>Comment: <%= posts[x].comments[y].text %></p>
              <p>Created at: <%= posts[x].comments[y].createdAt %></p>
              <hr>
            <% } %>
          <% } %>
        <% } %>
        <form action="/posts/<%= posts[x]._id %>" method="post">
          Name:
          <input type="text" name="name">
          Comment:
          <input type="text" name="text">
          <input type="submit" value="Post Comment">
        </form>
        <hr>
    <% } %>
  </body>
</html>
